<!DOCTYPE html>

<html>
	<head>
		<title>Welcome to Ontos-Learn how your notes relate with you </title>
    <link href = '{{ STATIC_URL }}css/stylesheet.css' rel="stylesheet">
    <link href='{{ STATIC_URL }}css/bootstrap.css' rel="stylesheet">
		<link href='{{ STATIC_URL }}css/bootstrap-responsive.min.css' rel="stylesheet">
    <link href='{{ STATIC_URL }}css/bootstrap.min.css' rel="stylesheet" media="screen">
  	<link href='{{ STATIC_URL }}css/bootstrap-responsive.css' rel="stylesheet">
  </head>
    <body>
      <div class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ontos</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li class="dropdown">
        </div>
      </div>
    	<div class="jumbotron">
  			<img src = "img/logo.png"></img>
		  </div>
	 </body>
</html>

